@model MyToDoList.ViewModels.HomeViewModels.IndexViewModel
@{
    ViewBag.Title = "MyToDoList";
}
<head>
    <link href="~/Styles/Home-Index.css" rel="stylesheet" />
</head>
<div id="ValSum" asp-validation-summary="All">

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div id="Monday" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Poniedziałek</h3>
                </div>
                <div class="panel-body">
                    @foreach (var duty in Model.Duties.Where(d => d.Day == Day.Monday))
                    {
                        <form method="post">
                            <div class="duties">
                                <p>
                                    <span>@duty.Content</span>
                                    <button type="submit" class="btn btn-default InvisibleButton" asp-action="RemoveDuty" asp-controller="Home" asp-route-id="@duty.Id">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                        </div>
                                    </div>
                                </p>
                            </div>
                        </form>
                    }
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form method="post" asp-action="AddDuty" asp-controller="Home" asp-route-StringDay="Monday" asp-antiforgery="true">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Dodaj zadanie</button>
                                    </span>
                                    <input asp-for="@Model.Content" type="text" class="form-control">
                                </div>


                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group">
                                    <select class="form-control" asp-for="@Model.DutyCategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="Tuesday" class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Wtorek</h3>
                </div>
                <div class="panel-body">
                    @foreach (var duty in Model.Duties.Where(d => d.Day == Day.Tuesday))
                    {
                        <form method="post">
                            <div class="duties">
                                <p>
                                    <span>@duty.Content</span>
                                    <button type="submit" class="btn btn-default InvisibleButton" asp-action="RemoveDuty" asp-controller="Home" asp-route-id="@duty.Id">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

                                        </div>
                                    </div>
                                </p>
                            </div>
                        </form>
                    }
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form method="post" asp-action="AddDuty" asp-controller="Home" asp-route-StringDay="Tuesday" asp-antiforgery="true">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Dodaj zadanie</button>
                                    </span>
                                    <input asp-for="@Model.Content" type="text" class="form-control">
                                </div>


                            </div>
                            <div class="col-sm-6 ">
                                <div class="form-group">
                                    <select class="form-control" asp-for="@Model.DutyCategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                <div class="col-sm-4">
                    @await Component.InvokeAsync("Category")
                </div> 
      
        </div>
    </div>
