@model DayViewModel
<head>
    <link href="~/Styles/Home-Components-Day-Default.css" rel="stylesheet" />
</head>
@foreach (Day day in Enum.GetValues(typeof(Day)))
{
    int iteration = 0;
    <div id="@day.ToString()" class="panel panel-danger">
        <div class="panel-heading">

            @switch ((int)day)
            {
                case 1:
                    <h3 class="panel-title">Poniedziałek</h3>
                    break;
                case 2:
                    <h3 class="panel-title">Wtorek</h3>
                    break;
                case 3:
                    <h3 class="panel-title">Środa</h3>
                    break;
                case 4:
                    <h3 class="panel-title">Czwartek</h3>
                    break;
                case 5:
                    <h3 class="panel-title">Piatek</h3>
                    break;
                case 6:
                    <h3 class="panel-title">Sobota</h3>
                    break;
                case 7:
                    <h3 class="panel-title">Niedziela</h3>
                    break;
                default: throw new Exception("Takie dzień nie istnieje");
            }
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                @if (Model.Duties.Where(d => d.Day == day).Any())
                {
                    <tr>
                        <th style="text-align:center;" class="col-sm-1">#</th>
                        <th class="col-sm-6">Treść</th>
                        <th class="col-sm-3">Kategoria</th>
                        <th style="text-align:center;" class="col-sm-1">Wykonaj</th>
                        <th style="text-align:center;" class="col-sm-1">Inne</th>
                    </tr>
                }
                @foreach (var duty in Model.Duties.Where(d => d.Day == day))
                {
                    iteration++;
                    <form method="post" asp-antiforgery="true">
                        <tr>
                            <td style="text-align:center;">@iteration</td>
                            <td>@duty.Content</td>
                            <td>@duty.Category.Name</td>
                            <td align="center">
                                <button type="submit" class="btn btn-default InvisibleButton" asp-action="ExecuteDuty" asp-controller="Home" asp-route-id="@duty.Id">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                            </td>
                            <td align="center">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        ...
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                        <li>
                                            <button type="submit" class="btn btn-danger" asp-action="RemoveDuty" asp-controller="Home" asp-route-id="@duty.Id">
                                                Usuń
                                            </button>
                                        </li>
                                        <li class="dropdown-header">Przenieś na:</li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Monday, dutyId = duty.Id, dayNameToDisplay = "Poniedziałek" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Tuesday, dutyId = duty.Id, dayNameToDisplay = "Wtorek" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Wednesday, dutyId = duty.Id, dayNameToDisplay = "Środa" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Thursday, dutyId = duty.Id, dayNameToDisplay = "Czwartek" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Friday, dutyId = duty.Id, dayNameToDisplay = "Piątek" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Saturday, dutyId = duty.Id, dayNameToDisplay = "Sobota" })
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("ChangeDay", new { day = Day.Sunday, dutyId = duty.Id, dayNameToDisplay = "Niedziela" })
                                        </li>

                                    </ul>
                                </div>

                            </td>
                            </tr>

                    </form>
                }
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <form method="post" asp-action="AddDuty" asp-controller="Home" asp-route-StringDay="@day.ToString()" asp-antiforgery="true">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Dodaj zadanie</button>
                            </span>
                            <input asp-for="@Model.Content" type="text" class="form-control">
                        </div>


                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <select class="form-control" asp-for="@Model.DutyCategoryId" asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}