@model CategoryViewModel
<head>
    <link href="~/Styles/Home-Components-Category-Default.css" rel="stylesheet" />
</head>
<h1>Kategorie</h1>
<ul class="list-group">
    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            @category.Name
            <span class="badge">@category.Duties.Count</span>
        </li>
    }
    
</ul>
<form method="post" asp-antiforgery="true" class="form-horizontal">
    <div class="col-sm-10">
        <div class="input-group">

            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">Dodaj kategorie</button>
            </span>
            <input id="InputForCategoryName" asp-for="@Model.CategoryName" type="text" class="form-control" placeholder="Nazwa kateogrii">
        </div>

    </div>
    <div class="col-sm-2">
        <div id="SelectListForCategoryColor" class="form-group">
            <select class="form-control" asp-for="@Model.Color" >
                @foreach(Color color in Enum.GetValues(typeof(Color)))
                {
                    switch((int)color)
                    {
                        case 0:
                        <option value="@color.ToString()">Czerwony</option>
                            break;
                        case 1:
                            <option value="@color.ToString()">Niebieski</option>
                            break;
                        case 2:
                            <option value="@color.ToString()">Zielony</option>
                            break;
                        case 3:
                            <option value="@color.ToString()">Zółty</option>
                            break;
                        case 4:
                            <option value="@color.ToString()">Czarny</option>
                            break;
                    }

                }
            </select>
        </div>
    </div>
</form>
